.container{
    max-width: 98rem;
    /*background-color: red;*/
    margin: 0 auto;
}
.container-fluid{
    /*background-color: purple;*/
    color: var(--text-default);
}

.content{
    /*background-color: blue;*/
    margin: 3.2rem ;
}