.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  gap: 1.6rem;
}

.footer a {
  text-decoration: none;
  color: var(--text-muted);
  cursor: pointer;
}

.footer a:hover {
  text-decoration: underline;
}
