.button {
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 22rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button svg {
  width: 3rem;
  height: 3rem;
}

.button:hover {
  filter: brightness(80%);
}

.red {
  background: var(--error);
  color: var(--text-over-error);
}

.green {
  background: var(--primary);
  color: var(--text-over-primary);
}
